<nav>
    <img class="burger-menu" src="/assets/ico/ico-burger-btn.svg" alt="">
    <div class="menu-ico-container">
        <img class="menu-ico" src="/assets/ico\Vector.svg" alt="gifts">
        <img class="menu-ico" src="/assets/ico\Vector-2.svg" alt="store">
        <img class="menu-ico" src="/assets/ico\Vector-1.svg" alt="chat">
        <img class="menu-ico" src="/assets/ico\Vector-3.svg" alt="about us">
        <img class="menu-ico" src="/assets/ico\Vector-4.svg" alt="gifts">
    </div>
</nav>