<div class="content">
    <h2 class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>

    <div class="cards-container">
        <div class="card">
            <h2>imagen</h2>
            <h3>producto</h3>
            <p>descripcion</p>
        </div>
        <div class="card">
            <h2>imagen</h2>
            <h3>producto</h3>
            <p>descripcion</p>
        </div>
        <div class="card">
            <h2>imagen</h2>
            <h3>producto</h3>
            <p>descripcion</p>
        </div>
        <div class="card">
            <h2>imagen</h2>
            <h3>producto</h3>
            <p>descripcion</p>
        </div>
    </div>
    <!-- <img class="content-bg" src="../../../assets/img/content-img-street.png" alt=""> -->
</div>
